# Logs
node_modules
build
dist
.env
.DS_Store
yarn-error.log
package-lock.json # If you use npm
yarn.lock       # If you use Yarn
pnpm-lock.yaml  # If you use pnpm

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
